<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <events>
      <!-- When an item is saved -->
      <event name="item:saved">
        <handler type="Sitecore.Support.Publishing.Service.Events.ItemSavedHandler, Sitecore.Support.37828" patch:instead="*[@type='Sitecore.Publishing.Service.Events.ItemSavedHandler, Sitecore.Publishing.Service']" method="UpdateItemVariantRevisions" />
      </event>
    </events>
  </sitecore>
</configuration>